<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="/css/page.css" rel="stylesheet">
</head>
<body>
<script src="/js/page.js"></script>
<div class="content">
    <h1>DataBase Connect</h1>
        <label for="host">Host</label>
        <input type="text" id="host" placeholder="Host"><br>

        <label for="port">Port</label>
        <input type="text" id="port" placeholder="Port"><br>

        <label for="sid">Sid</label>
        <input type="text" id="sid" placeholder="Sid"><br>

        <label for="userNm">UserName</label>
        <input type="text" id="userNm" placeholder="UserName"><br>

        <label for="userPW">UserPw</label>
        <input type="text" id="userPW" placeholder="UserPw"><br>

        <label for="dbType">DBType</label>
        <input type="text" id="dbType" placeholder="DB Type">

        <button onclick="postData()">연결</button>
</div>
</body>
</html>
