<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- 내부 css -->
    <style>

    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }

  </style>

</head>
<body>
<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>NAME</th>
                <th>TYPE</th>
                <th>SIZE</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="columnInfos : ${columnInfos}">
                <td th:text="${columnInfos.name}"></td>
                <td th:text="${columnInfos.type}"></td>
                <td th:text="${columnInfos.size}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
<a href="/showData">데이터 조회</a>
</body>
</html>