<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- 내부 css -->
    <style>

    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }

  </style>

</head>
<body>
<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>TABLE NAME</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tables : ${tables}">
                <td th:text="${tables}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <form action="/showCol" method="post">
        <div class="form-group">
            <label for="tableNm">Select Table </label>
            <input type="text" id="tableNm" name="tableNm" placeholder="table이름을 입력하세요">
        </div>
        <button type="submit">Show Column List</button>
    </form>
</div> <!-- /container -->
</body>
</html>