<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>이름</th>
                <th>타입</th>
                <th>사이즈</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="columnInfos : ${columnInfos}">
                <td th:text="${columnInfos.name}"></td>
                <td th:text="${columnInfos.type}"></td>
                <td th:text="${columnInfos.size}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
<a href="/showData">데이터 조회</a>
</body>
</html>