<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- 내부 css -->
    <style>

    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }

  </style>

</head>
<body>
<div class="container">
    <div>
        <table>
            <thead>
            <tr>
            </tr>
            </thead>
            <tbody>
            <tr th:each="data2 : ${data}">
                <td th:text="${data2}"></td>
<!--                <td>-->
<!--                    <p th:each="data1 : ${data2}">-->
<!--                        <span th:text="${data1}">Street</span>-->
<!--                    </p>-->
<!--                </td>-->
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>